@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GolosText';
  font-weight: 400;
	src:
		url('fonts/Golos-Text/Golos-Text_Regular.woff2') format('woff2'),
		url('fonts/Golos-Text/Golos-Text_Regular.woff') format('woff');
}

@font-face {
	font-family: 'GolosText';
  font-weight: 500;
	src:
		url('fonts/Golos-Text/Golos-Text_Medium.woff2') format('woff2'),
		url('fonts/Golos-Text/Golos-Text_Medium.woff') format('woff');
}

@font-face {
	font-family: 'GolosText';
  font-weight: 600;
	src:
		url('fonts/Golos-Text/Golos-Text_DemiBold.woff2') format('woff2'),
		url('fonts/Golos-Text/Golos-Text_DemiBold.woff') format('woff');
}

@font-face {
	font-family: 'GolosText';
  font-weight: 700;
	src:
		url('fonts/Golos-Text/Golos-Text_Bold.woff2') format('woff2'),
		url('fonts/Golos-Text/Golos-Text_Bold.woff') format('woff');
}

@layer base {
  html {
    @apply text-black;
  }

  h1 {
    @apply font-bold text-[36px] md:text-[45px] xl:text-[54px];
  }
}